<h2 class="section__title">Mes dernières réalisation</h2>
<p class="section__details">Parcourez une petite partie de mes réalisations</p>
<div class="projects__container">
<<<<<<< HEAD

    <div class="card">
        <div class="card__image">
            <img src="https://www.fillmurray.com/640/360" alt="card image">
        </div>
        <div class="card__content">
            <p class="card__details">Freelance, PHP, Wordpress, HTML, CSS</p>
            <h3>Chalet & caviar</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam aspernatur deserunt dignissimos doloribus eveniet, ex facere facilis fugit incidunt inventore ipsam nam nemo possimus quas quia similique voluptatum? Corporis delectus dolorem, doloremque earum eveniet fugiat illo, mollitia obcaecati odio odit perferendis possimus quam quia, quibusdam rem sapiente sunt tempora ut. A aliquid asperiores aut culpa cumque error facere harum illum ipsa, ipsam minus natus neque odio rerum similique! Eveniet in iure libero molestias numquam quam quidem recusandae repellendus voluptatibus?</p>
            <a class="btn btn-primary btn-outline mt-4" href="#">En savoir plus...</a>
        </div>
    </div>
=======
    {% for project in projects %}
        <div class="card">
            <div class="card__image">
                <img src="{{ project.thumbnail }}" alt="">
            </div>
            <div class="card__content">
                <p class="card__details">{{ project.details_project }}</p>
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
                <a class="btn btn-primary btn-outline mt-4" href="{{ project.link }}">En savoir plus...</a>
            </div>
        </div>
    {% endfor %}
>>>>>>> 293404d7f5298154f56dbbf46e994400df647800

</div>